*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(226,240,254,1) 0%, rgba(255,247,228,1) 90% );
   
}

#preloader{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    /* border: 2px solid red; */
    top: 00%;
    left: 00%;
    z-index: 999;
}

#preloader .preloader__gif{
    position: absolute;
    /* border: 2px solid green; */
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    
}

#preloader .preloader__logo{

    position: absolute;
    /* border: 2px solid green; */
    bottom:5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;

}



nav{
    z-index: 6;
    
    top:0;
    left: 0;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    color: white;
    width: 100%;
}


nav .logo{
    /* border: 2px solid green; */
    display: grid;
    width: 20%;
    height: 100%;
    place-content: center;
}

nav .logo img{
    width: 75%;
    height: 90%;
}
.navlinks{
    display: flex;
    flex-direction: row;
    font-weight:bold;
    margin: auto 0px;
    /* border: 2px solid yellow; */
    margin-right: 100px;

    
}
.navlinks li{
    list-style: none;
    margin: 0px 10px;

}

.navlinks li a{
   color: black;
    text-decoration: none;
}

.hamburger{
    display: none;
    color: white !important;
}

@media screen and (max-width:930px) {
    body{
    background-image: radial-gradient( circle farthest-corner at 10% 50%,rgba(255,247,228,1) 10% , rgba(226,240,254,1) 90% );
   

    }
    .navlinks{
        transition: all 1s ;
        /* border: 2px solid green; */
        transform: translateX(-100%);
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100%;
        z-index: 6;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(252, 243, 164, 0.25);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);

        
    }

    .navlinks li{
        margin:  20px 0px;
        
    }

    nav .logo{
        /* border: 2px solid red; */
        width: 7rem ;
    }
    

    nav .logo img{
        width: 100%;
        height: 90%;

    }

    .hamburger{
        display: block;
        color: black;
        z-index: 100;
            
    }

    .navlinks-show{
        /* border: 2px solid red; */
        position:fixed;
        top:0px;
        left:0px;
        height: 100vh;
        transform: translateX(0%);
        opacity: 1;
    }
}