*{
    margin: 0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(226,240,254,1) 0%, rgba(255,247,228,1) 90% );
   
}

#preloader{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    /* border: 2px solid red; */
    top: 00%;
    left: 00%;
    z-index: 999;
}

#preloader .preloader__gif{
    position: absolute;
    /* border: 2px solid green; */
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    
}

#preloader .preloader__logo{

    position: absolute;
    /* border: 2px solid green; */
    bottom:5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;

}



nav{
    z-index: 6;
    position:static;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    color: white;
    width: 100%;
}
.display-none{
    display: none;
}

nav .logo{
    /* border: 2px solid green; */
    display: grid;
    width: 20%;
    height: 100%;
    place-content: center;
}

nav .logo img{
    width: 75%;
    height: 90%;
}
.navlinks{
    display: flex;
    flex-direction: row;
    font-weight:bold;
    margin: auto 0px;
    /* border: 2px solid yellow; */
    margin-right: 100px;

    
}
.navlinks li{
    list-style: none;
    margin: 0px 10px;


}



.navlinks li a{
   color: black;
    text-decoration: none;
}

.hamburger{
    display: none;
    color: black !important;
}

.about__container{
    padding: 50px 200px;
}

.about__container__img__container{
    width: 100%;
    height: 40vh;
   border-radius: 10px;
   overflow:hidden;
    /* border: 2px solid red; */
    position: relative;
  

}

.about__container__img__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    object-position:  50% 50%;
}

.about__container__title{
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
    font-size: 2rem;
}

.about__container__hero__text{
    /* border:2px solid navy; */
    font-weight: 500;
    padding: 20px 40px 20px 40px;
    text-align: center;
    font-size: 1rem;

}

.about__container__mission__container{
    /* border: 2px solid magenta; */
    display: flex;
    margin-top: 50px;

}

.mission__container__img__container{
    /* border: maroon 2px solid; */
    width: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.mission__container__img__container img{
    width:100%;
    height: 100%;
    object-fit: cover;

}

.text_title{
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
}

.overlay__about{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
}

.mission__container__text{
    /* border: 2px solid teal; */
    width:100%;
    padding: 2rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:  center;
}


.footer{
    background-color: #f3e6e8;
background-image: linear-gradient(315deg, #fffbfc 0%, #d5d0e5 74%);
    /* background-color: #C8E3D4; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    width: 100%;
   /* min-height: 50vh; */
    display: flex;
    /* border: 2px solid black; */
   padding: 2rem 10rem;
    text-align: left;
}

.sitemap{
    flex: 1;
    /* border: 2px solid green; */
    
}

.sitemap ul li{
    list-style: none;
    list-style: none;
    font-weight: 500;
    margin: 10px 0px;
  
}

.footer_products{
    flex: 1;
    /* border: 2px solid red; */
}

.footer_products ul li{
    list-style: none;
    font-weight: 500;
    margin: 10px 0px;
}

.sitemap ul li a{

    text-decoration: none;
    color: black !important;
  }


.footer__about{
    flex: 1;
    /* border: 2px solid blue; */
}

.footer img{
    width: 10%;
    margin: 20px 20px ;
}

.footer__about ol li{
    list-style: none;
    font-weight: 500;
    /* border: 2px solid red; */
    margin: 10px 0px;
}

.footer__about ol li .fas{
    transform: scale(1.5);
    margin-right: 20px ;
}

.fa-dot-circle{
    transform: scale(0.5);
}

.copyright{
    font-weight: bold;
}

@media screen and (max-width:930px) {
    body{
    background-image: radial-gradient( circle farthest-corner at 10% 50%,rgba(255,247,228,1) 10% , rgba(226,240,254,1) 90% );
   

    }
    .navlinks{
        transition: all 1s ;
        /* border: 2px solid green; */
        transform: translateX(-100%);
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100%;
        z-index: 6;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(252, 243, 164, 0.25);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);

        
    }

    .navlinks li{
        margin:  20px 0px;
        
    }

    nav .logo{
        /* border: 2px solid red; */
        width: 7rem ;
    }
    

    nav .logo img{
        width: 100%;
        height: 90%;

    }

    .hamburger{
        display: block;
        color: black;
        z-index: 100;
            
    }

    .navlinks-show{
        /* border: 2px solid red; */
        position:fixed;
        top:0px;
        left:0px;
        height: 100vh;
        transform: translateX(0%);
        opacity: 1;
    }


    .about__container{
        padding: 10px 10px;
    }

    .about__container__mission__container{
        flex-direction: column;
    }

    .reverse{
        flex-direction: column-reverse;
    }


    .text_title{
        position: absolute;
        bottom: 10%;
        left: 10%;
        color: white;
    }
    

    
    footer{
        padding: 0rem 0rem;
        text-align: center;
        /* border: 2px solid red; */
        flex-direction: column;
        margin:50px 10px;
        padding: 0px 20px
    }

    .sitemap{
        /* border: 2px solid palegoldenrod; */
        margin: 20px 0px;
    }

    .footer_products{
        margin: 20px 0px;
    }

    .footer__about{
        margin: 20px 0px;
    }


    .sitemap ul{
        
        /* border: 2px solid black; */
        margin: 0px;
        padding:0px;
    }

    .sitemap ul li a{

        text-decoration: none;
        color: black;
      }

    .footer_products ul{
        margin: 0px;
        padding:0px;
    }

    .footer__about ol{
        margin: 0px;
        padding:0px;
    }

    footer h4{
        /* border: 2px solid green; */
        display: block;
     
       
    }

    .footer img{
        width: 30%;
        margin: 20px 20px ;
    }

    .copyright{
        font-weight: bold;
        text-align: center;
    }


   
}